<div class="container" id="ans-til" style="margin-top: 20px;">


  <div id="ans-tile">

    <li>

      Answered by {{#link-to 'user' user.id}} {{answer.commentor}} {{/link-to}} <br>

    <div id="ans-ans">

      <button {{action 'upVote' answer}}> <span class="glyphicon glyphicon-chevron-up"></span> </button>
        <p>
          {{answer.upVotes}}
        </p>

        {{answer.answer}} <br>
        
      <button {{action 'upVote' answer}}> <span class="glyphicon glyphicon-chevron-down"></span> </button>

    </div>

    </li>

    <button {{action 'delete' answer}}> DELETE </button>

  </div>


</div>
