<div class="container" id="ans-til" style="margin-top: 20px;">


  <div id="ans-tile">

    <li>

      Answered by {{#link-to 'user' user.id}} {{answer.commentor}} {{/link-to}} <br>

    <div id="ans-ans">


      <button {{action 'upVote' answer}} id="voting"> <span class="glyphicon glyphicon-chevron-up"></span> </button> <br>
        <p id="voting">
          votes: {{answer.upVotes}}
        </p>
      <button {{action 'upVote' answer}} id="voting"> <span class="glyphicon glyphicon-chevron-down"></span> </button>

      <div class="user">
        <img src="http://media.istockphoto.com/photos/male-silhouette-profile-picture-with-question-mark-picture-id518552551?s=170x170" alt="{{question.author}}" id="userProfile"> <br>
        {{answer.commentor}}
      </div>




        {{answer.answer}} <br>



    </div>


    </li>

    <button {{action 'delete' answer}}> DELETE </button>

  </div>


</div>
