

<div class="container">


  {{#if addNewAnswer}}

    <div>

      <form>

        <div class="form-group">
          {{input value=commentor id="commentor" placeholder="User Name"}}
        </div>

        <div class="form-group">
          {{textarea value=answer id="answer" placeholder="Answer"}}
        </div>

        <button {{action 'saveAnswer'}}> Send </button>

        <button {{action 'cancelAnswerForm'}}> Cancel </button>

      </form>

    </div>

    {{else}}

    <button {{action 'answerFormShow'}}> ANSWER </button>

    {{/if}}


</div>
