<div class="container">

  {{#if rated}}

    <button {{action "toggleSort"}}> SHOW </button>

      {{#each sortedAnswers as |sortedAnswer|}}



        <button {{action 'upVote' answer}}> <span class="glyphicon glyphicon-chevron-up"></span> </button>
          <p>
            votes: {{answer.upVotes}}
          </p>
        <button {{action 'downVote' answer}}> <span class="glyphicon glyphicon-chevron-down"></span> </button>

        <a class="star star-on"></a>

        <p>
          Answered by {{answer.commentor}} <br>
          {{answer.answer}}
        </p>

        <button {{action 'deleteAnswer' answer}}> Delete Answer </button>

        {{else}}
          <p>Not Answered Yet</p>



      {{/each}}

    {{/if}}

</div>
